/* Home Responsive */
/* Mobile */
@media (max-width : 768px) {
    #bombaman {
        width: 250px;
        margin-left: -125px;
    }
    #songkickGigs {
        font-size: 20px;
    }
}
/* Tablet */
@media (max-width : 991px) {

}